.tarjeta {
    width: 300px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border: 1px solid #ccc; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 20px auto; 
    padding: 20px; 
}

.imagen-perfil{
    border-radius: 50%;
    display: block;
    margin-bottom: 15px;
    margin: auto;
    width: 250px;
}
.nombre{
    font-style: italic;
    font-size: 24px;
    text-align: center;
    background: linear-gradient(45deg, #ff7eb3, #ff758c, #ff6374);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.titulo{
    text-align: center;
    color: #666;
    font-size: 18px;
}
.social {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.card {
    width: 150px;
    height: 180px;
    background: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.card a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.card img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}

.linkedIn {
    background-color: #0077b5;
    color: white;
}

.instagram {
    background: linear-gradient(45deg, #fd5949, #d6249f, #285AEB);
    color: white;
}

.valorant {
    background-color: #bd4556;
    color: white;
}
.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.btn{
    background-color: blue;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.btn:hover{
    background-color: blueviolet;
}

